<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Action History</title>
    <meta charset="utf-8" />
</head>
<body>

<div th:object="${fox}">
    <div>
        <a th:href="'/?name=' + *{name}" style="color:darkblue">Information</a>
    </div>
    <div>
        <a th:href="'/nutritionStore?name=' + *{name}" style="color:darkblue">Nutrition Store</a>
    </div>
    <div>
        <a th:href="'/trickCenter?name=' + *{name}" style="color:darkblue">Trick Center</a>
    </div>
    <div>
        <a th:href="'/actionHistory?name=' + *{name}" style="color:darkblue">Action History</a>
    </div>
    <div>
        <img src="/img/greenfox.png">
    </div>
    <br>

    <ul>
        <li th:each="action:${fox.actions}" th:text="${action}"></li>
    </ul>
</div>

</body>
</html>