<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Action History</title>
    <meta charset="utf-8" />
</head>
<body>

<div th:object="${fox}">
    <div>
        <a th:href="'/foxclub/info/?name=' + *{name}" style="color:darkblue">Information</a>
    </div>
    <div>
        <a th:href="'/foxclub/nutritionStore?name=' + *{name}" style="color:darkblue">Nutrition Store</a>
    </div>
    <div>
        <a th:href="'/foxclub/trickCenter?name=' + *{name}" style="color:darkblue">Trick Center</a>
    </div>
    <div>
        <a th:href="'/foxclub/actionHistory?name=' + *{name}" style="color:darkblue">Action History</a>
    </div>
    <div>
        <img th:src="*{imageURL}" width="130px" height="auto">
    </div>
    <br>

    <ul>
        <li th:each="action:*{actions}" th:text="${action}"></li>
    </ul>
</div>

</body>
</html>