<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trick Center</title>
    <meta charset="utf-8" />
</head>
<body>

<div th:object="${fox}">
    <div>
        <a th:href="'/foxclub/info/?name=' + *{name}" style="color:darkblue">Information</a>
    </div>
    <div>
        <a th:href="'/foxclub/nutritionStore?name=' + *{name}" style="color:darkblue">Nutrition Store</a>
    </div>
    <div>
        <a th:href="'/foxclub/trickCenter?name=' + *{name}" style="color:darkblue">Trick Center</a>
    </div>
    <div>
        <a th:href="'/foxclub/actionHistory?name=' + *{name}" style="color:darkblue">Action History</a>
    </div>
    <br>

    <p th:if="${tricks.isEmpty()}" style="color:green">There is no more to learn.</p>

    <form th:if="${!tricks.isEmpty()}" th:action="'/foxclub/trickCenter?name=' + *{name}" method="post">
        <div>
            <label for="trick">Tricks:</label>
            <select id="trick" name="trick">
                <option th:each="trick:${tricks}" th:text="${trick}"></option>
            </select>
            <input type="submit" value="Learn">
        </div>
    </form>
    <p th:if="${warning}" th:text="${warning}"></p>
</div>

</body>
</html>