<!DOCTYPE html>
<head>
    <title>Welcome</title>
    <meta charset="utf-8" />
</head>
<body>

<div>
    <h1 style="text-align: left; color:dimgray">Welcome to Programmer Fox Club</h1>
    <h3 style="text-align: left; color:cadetblue">Here you can take care of your pets</h3>

    <div>
        <img src="/img/amazing-fox.jpg" style="width:500px; height:auto">
    </div>

    <div>
        <a href="/foxclub/login" style="font-size: 20px; color:cadetblue">Login</a>
        <span></span>
        <a href="/foxclub/register" style="font-size: 20px; color:cadetblue">Register</a>
    </div>
</div>

</body>
</html>