<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignee details</title>
</head>
<body>
<h1>Assignee details:</h1>

<p th:text="${error}"></p>

<div th:unless="${error}" style="font-size: 20px">
    <div>
        <span>NAME:</span>
        <span th:text="${assignee.name}"></span>
    </div>

    <div>
        <span>EMAIL:</span>
        <span th:text="${assignee.email}"></span>
    </div>

    <div>
        <span>TODOS:</span>
        <span th:if="${todos.isEmpty()}">---</span>
        <ul>
            <li th:each="todo:${todos}" th:text="${todo.description}"></li>
        </ul>
    </div>
    <br>

    <div th:if="${from==0}">
        <a href="/todo/">Back</a>
    </div>
    <div th:if="${from==1}">
        <a href="/assignee/">Back</a>
    </div>
</div>
</body>
</html>