<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit todo</title>
</head>
<body>
<h1>Edit todo:</h1>

<p th:text="${error}"></p>

<!--<form th:action="'/todo/' + ${todo.todoId} + '/edit'" method="post">-->
<form th:unless="${error}" action="/todo/edit" method="post">
    <input type="hidden" name="todoId" th:field="${todo.todoId}">
    <!--<input type="hidden" name="todoId" th:value="${todo.todoId}">-->

    <div>
        <label for="description">DESCRIPTION:</label>
        <input type="text" id="description" name="description" th:field="${todo.description}" autofocus>
    </div>

    <div>
        <label for="urgent">URGENT:</label>
        <input type="checkbox" id="urgent" name="urgent" th:field="${todo.urgent}">
    </div>

    <div>
        <label for="done">DONE:</label>
        <input type="checkbox" id="done" name="done" th:field="${todo.done}">
    </div>

    <label for="assig">ASSIGNEE:</label>
    <select id="assig" name="assignee">
        <option value="">none</option>
        <option th:each="assignee: ${assignees}"
                th:text="${assignee.name}"
                th:value="${assignee.assigneeId}"
                th:selected="${assignee.assigneeId==todo.assignee?.assigneeId}">
        </option>
    </select>

    <div>
        <label for="duedate">DUEDATE:</label>
        <input type="date" id="duedate" name="dueDate" th:field="${todo.dueDate}">
    </div>
    <br>

    <div>
        <input type="submit" value="Submit">
        <a href="/todo/">Cancel</a>
    </div>
</form>

</body>
</html>