<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo details</title>
</head>
<body>
<h1>Todo details:</h1>

<p th:text="${error}"></p>

<div th:unless="${error}" style="font-size: 20px">
    <div>
        <span>DESCRIPTION:</span>
        <span th:text="${todo.description}"></span>
    </div>

    <div>
        <span>CREATED AT:</span>
        <span th:text="${todo.createdAt}"></span>
    </div>

    <div>
        <span>URGENT:</span>
        <span th:text="${todo.urgent}"></span>
    </div>

    <div>
        <span>DONE:</span>
        <span th:text="${todo.done}"></span>
    </div>

    <div>
        <span>ASSIGNEE:</span>
        <span th:if="${todo.assignee == null}" >none</span>
        <span th:if="${todo.assignee != null}" th:text="${todo.assignee.name}"></span>
    </div>
    <br>

    <div>
        <a href="/todo/">Back</a>
    </div>
</div>
</body>
</html>