<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>

<body>
<div th:if="${user==null}" style="font-size: 20px">
    <div>
        <a href="/register">Submit new post</a>
    </div>
    <div style="text-align: right">
        <a href="/login">LOG IN</a>
        <a href="/register">SIGN UP</a>
    </div>
</div>

<div th:if="${user!=null && allPosts!=null}" style="font-size: 20px">
    <div>
        <a th:href="'/' + ${user.id} + '/submit'">Submit new post</a>
    </div>
    <div th:if="${allPosts}">
        <a th:href="'/' + ${user.id} + '/false'">Show my posts</a>
    </div>
    <div th:if="${!allPosts}">
        <a th:href="'/' + ${user.id} + '/true'">Show all posts</a>
    </div>

    <div style="text-align: right">
        <p th:text="'Logged in: ' + ${user.username}"></p>
    </div>
    <div style="text-align: right">
        <a href="/">Log out</a>
    </div>
</div>

<div th:if="${allPosts!=null}" style="text-align: center">
    <h1 th:if="${allPosts}">Trending posts</h1>
    <h1 th:if="${!allPosts}">Your posts</h1>

    <div th:each="post:${posts}" style="font-size: 20px">
        <span th:text="${post.vote}"></span>
        <span><a th:href="${post.url}" th:text="${post.title}"></a></span>
        <br>
    </div>
</div>

</body>
</html>