<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>

<body>

<div th:if="${error}">
    <p th:text="${error}"></p>
</div>

<div th:unless="${error}" style="font-size: 20px">
    <div>
        <a th:href="'/' + ${user.id} + '/submit'">Submit new post</a>
    </div>
    <div th:if="${allPosts}">
        <a th:href="'/' + ${user.id} + '?allPosts=false'">Show my posts</a>
    </div>
    <div th:if="${!allPosts}">
        <a th:href="'/' + ${user.id} + '?allPosts=true'">Show all posts</a>
    </div>

    <div style="text-align: right">
        <p th:text="'Logged in: ' + ${user.username}"></p>
    </div>
    <div style="text-align: right">
        <a href="/">Log out</a>
    </div>

    <div>
        <h1 th:if="${allPosts}">Trending posts</h1>
        <h1 th:if="${!allPosts}">Your posts</h1>

        <table>
            <tr th:each="post:${posts}">
            <!--<tr th:each="post:${user.posts}">-->
                <!--<td>-->
                    <!--<form th:action="'/' + ${user.id} + '/upvote/' + ${post.id}" method="post">-->
                        <!--<input type="submit" value="+">-->
                    <!--</form>-->
                    <!--<div>-->
                        <!--<p th:text="${post.vote}"></p>-->
                    <!--</div>-->
                    <!--<form th:action="'/' + ${user.id} + '/downvotevote/' + ${post.id}" method="post">-->
                        <!--<input type="submit" value="-">-->
                    <!--</form>-->
                <!--</td>-->

                <td th:text="${post.vote}"></td>

                <td th:if="${allPosts}">
                    <form th:action="'/' + ${user.id} + '/upvote/' + ${post.id}" method="post">
                        <input type="submit" value="+">
                    </form>
                </td>

                <td th:if="${allPosts}">
                    <form th:action="'/' + ${user.id} + '/downvote/' + ${post.id}" method="post">
                        <input type="submit" value="-">
                    </form>
                </td>

                <td><a th:href="${post.url}" th:text="${post.title}"></a></td>
                <td style="font-size: 16px" th:if="${allPosts}" th:text="'Posted by ' + ${post.user.username}"></td>
                <td style="font-size: 16px" th:text="'at ' + ${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></td>

                <td th:if="${!allPosts}">
                    <form th:action="'/' + ${user.id} + '/delete/' + ${post.id}" method="post">
                        <input type="submit" value="delete">
                    </form>
                </td>

                <!--<td><a th:href="'/' + ${user.id} + '/edit/' + ${post.id}">edit</a></td>-->
            </tr>
        </table>
    </div>
</div>

</body>
</html>