<!DOCTYPE html>
<head>
    <title>Useful links</title>
    <meta charset="utf-8" />
</head>
<body style="font-size: 20px">
    <div>
        <a href="/useful/color">Show me a color</a>
    </div>
    <br>
    <div>
        <!--<a href="/useful/email?emailAddress=is@this.valid">Email validation</a>-->
        <!--<a href="/useful/emailvalidation">Email validation</a>-->
        <!--<a href="/useful/emailvalidation2">Email validation</a>-->
        <!--<a href="/useful/emailvalidation3">Email validation</a>-->
        <!--<a href="/useful/emailvalidation4">Email validation</a>-->
        <a href="/useful/emailvalidation5">Email validation</a>
    </div>
    <br>
    <div>
        <a href="/useful/encode?text=example&number=1">Encode a text</a>
    </div>
    <br>
    <div>
        <a href="/useful/decode?text=fybnqmf&number=-1">Decode a text</a>
    </div>
</body>
</html>