<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo details:</title>
</head>
<body>
    <h1>Details:</h1>

    <div style="font-size: 20px">
    <div>
        <span>Todo description:</span>
        <span th:text="${todo.description}"></span>
    </div>

    <div>
        <span>Urgent:</span>
        <span th:text="${todo.urgent}"></span>
    </div>

    <div>
        <span>Done:</span>
        <span th:text="${todo.done}"></span>
    </div>

    <a href="/todo/">Back</a>
    </div>
</body>
</html>